body {
    --headerHeight: 60px;
    --videoTileMargin: 20px;
    --videoTilePadding: 10px;
    --videoLengthHeight: 20px;
    padding: 0;
    margin: 0;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-wrapper {
    width: 100%;
    height: var(--headerHeight);
    background: maroon;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}

.header-wrapper img {
    width: 100px;
    height: 45px;
}

.body-wrapper {
    display: flex;
    height: calc(100% - var(--headerHeight));
    min-height: calc(100% - var(--headerHeight));
    overflow: hidden;
}

.body-wrapper .sidebar-wrapper {
    width: 20%;
    min-width: 150px;
    max-width: 200px;
    height: 100%;
    box-shadow: 5px 0 3px gray;
}

.body-wrapper .sidebar-wrapper .sidebar-option {
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    padding-left: 10px;
}

.body-wrapper .sidebar-wrapper .sidebar-option:hover {
    background: gray;
}

.body-wrapper .sidebar-wrapper .sidebar-divider {
    border: 1px solid black;
}

.body-wrapper .video-tile-wrapper {
    flex-grow: 100;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    overflow: scroll;
}

.body-wrapper .video-tile-wrapper .video-tile {
    flex-basis: calc(33% - 2 * var(--videoTileMargin) - 2 * var(--videoTilePadding));
    border: 1px solid gray;
    box-shadow: 0 0 5px gray;
    margin: var(--videoTileMargin);
    padding: var(--videoTilePadding);
}

.body-wrapper .video-tile-wrapper .video-tile .tile-thumbnail img {
    width: 100%;
    height: 150px;
}

.body-wrapper .video-tile-wrapper .video-tile .tile-video-length {
    text-align: right;
    width: 100%;
    height: 1px;
}

.body-wrapper .video-tile-wrapper .video-tile .tile-video-length span {
    background: black;
    color: white;
    position: relative;
    top: calc(-1 * var(--videoLengthHeight) - 3px);
    line-height: var(--videoLengthHeight);
}

.body-wrapper .video-tile-wrapper .video-tile .tile-video-title {
    font-size: 16px;
    font-weight: bolder;
}

.body-wrapper .video-tile-wrapper .video-tile .tile-channel-name {
    font-size: 14px;
    color: gray;
}

.body-wrapper .video-tile-wrapper .video-tile .title-views-time-wrapper {
    font-size: 12px;
    color: gray;
}