body {
    --chatControlHeight: 80px;
    --person2Color: blue;
    padding: 0;
    margin: 0;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-message-area-wrapper {
    flex-grow: 100;
    background: cornsilk;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: calc(100% - var(--chatControlHeight) - 20px);
}

.chat-message-area-wrapper .chat-box {
    padding: 8px 10px 4px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 75%;
    margin: 10px 20px;
}

.chat-message-area-wrapper .person1-chat {
    align-self: flex-start;
    border-bottom-left-radius: 2px;
}

.chat-message-area-wrapper .person2-chat {
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}

.chat-message-area-wrapper .chat-box .time-arrow-wrapper {
    display: flex;
    width: 100%;
}

.chat-message-area-wrapper .person1-chat .time-arrow-wrapper {
    flex-direction: row-reverse;
}

.chat-message-area-wrapper .chat-box .chat-timestamp {
    font-size: 10px;
    flex-grow: 100;
    text-align: right;
}

.chat-message-area-wrapper .chat-box .chat-arrow {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    transform: rotate(45deg);
    position: relative;
    left: -25px;
    top: 7px;
    border-width: 0 0 1px 1px;
    background: cornsilk;
}

.chat-message-area-wrapper .person2-chat .chat-arrow {
    left: 15px;
    top: 3px;
    border-width: 1px 1px 0 0;
    align-self: flex-end;
}

.chat-controls-wrapper {
    display: flex;
    height: var(--chatControlHeight);
    min-height: var(--chatControlHeight);
    max-height: var(--chatControlHeight);
    border-top: 1px solid black;
    padding-top: 5px;
    margin-top: 5px;
}

.chat-controls-wrapper form {
    flex-basis: 50%;
    display: flex;
}

.chat-controls-wrapper form:last-child {
    justify-content: flex-end;
}

.chat-controls-wrapper form input[type="submit"] {
    flex-basis: 20%;
}

.chat-controls-wrapper form input[type="text"] {
    flex-basis: 75%;
}
